PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=asylum_new
DB_USERNAME=readonly_user
DB_PASSWORD=readonly_password
DB_LOGGING=false
DB_POOL_MAX=5
DB_POOL_MIN=0
DB_POOL_ACQUIRE_MS=30000
DB_POOL_IDLE_MS=10000

BASIC_AUTH_USERNAME=api_user
BASIC_AUTH_PASSWORD=change_me
